.inline-button {
    margin-top: 20px;
    width: 10vw;
    height: 6vh;
    background-color: #14213D;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.inline-button:hover {
    box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24), 0 34px 100px 0 rgba(0,0,0,0.19);
}