@import "pages/login_page/login.css";
@import "pages/register/register.css";
@import "components/inline_button/inline_button.css";
@import "components/input_fields/input.css";
@import "components/social_logos/social_logos.css";
@import "components/outline_button/outline_button.css";
@import "components/categoryCard/categoryCard.css";
@import "components/card/card.css";
@import "pages/home/home.css";
@import "components/cart-card/cartCard.css";
@import "pages/cart/cart.css";



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
